<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    [events]="events"
    [cellTemplate]="customCellTemplate"
  >
  </mwl-calendar-month-view>
</div>

<ng-template
  #customCellTooltipTemplate
>
  <div
    class="cal-tooltip"
  >
    <div
      class="cal-tooltip-inner"
    >djkawlslkdjsalkjdlkajskdljaslkjdlaskjdlsajljdkakljsdlkjdlkasjdjkawlslkdjsalkjdlkajskdljaslkjdlaskjdlsajljdkakljsdlkjdlkasjdjkawlslkdjsalkjdlkajskdljaslkjdlaskjdlsajljdkakljsdlkjdlkasj</div>
  </div>
</ng-template>

<ng-template
  #customCellTemplate
>
<!--  Placement 'top' causes scroll issues, because large tooltip for side cells doesn't fit -->
<!--  The best choice is to use 'auto' placement instead 'top'-->
    <div
      [style.width]="'100%'"
      [style.height]="'100%'"
      mwlCalendarTooltip="true"
      [tooltipTemplate]="customCellTooltipTemplate"
      [tooltipPlacement]="['top','auto']"
      [tooltipAppendToBody]="false"
    >
  </div>

</ng-template>
